<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LSLaunchAD.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>28716DAA1D702BA900BAF1D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>28716DC31D702BA900BAF1D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>28716DCE1D702BA900BAF1D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
